In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('C:\\Users\\admin\\Documents\\Housing.csv')

In [3]:
df = pd.DataFrame(data=data)
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
df['furnishingstatus'].unique()

array(['furnished', 'semi-furnished', 'unfurnished'], dtype=object)

In [5]:
dummies = pd.get_dummies(df.furnishingstatus)
dummies

     furnished  semi-furnished  unfurnished
0            1               0            0
1            1               0            0
2            0               1            0
3            1               0            0
4            1               0            0
..         ...             ...          ...
540          0               0            1
541          0               1            0
542          0               0            1
543          1               0            0
544          0               0            1

[545 rows x 3 columns]

In [6]:
merged = pd.concat([df,dummies],axis=1)
merged

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,furnished,semi-furnished,unfurnished
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,1,0,0
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,1,0,0
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,0,1,0
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,1,0,0
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished,0,0,1
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished,0,1,0
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished,0,0,1
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished,1,0,0
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished,0,0,1

In [7]:
final = merged.drop(['furnishingstatus'],axis = 1)
final

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnished,semi-furnished,unfurnished
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,1,0,0
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,1,0,0
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,0,1,0
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,1,0,0
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,0,0,1
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,0,1,0
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,0,0,1
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,1,0,0
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,0,0,1

In [8]:
final = final.drop(['unfurnished'],axis = 1)
final

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnished,semi-furnished
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,1,0
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,1,0
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,0,1
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,1,0
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,0,0
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,0,1
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,0,0
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,1,0
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,0,0

In [9]:
final.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnished', 'semi-furnished'],
      dtype='object')

In [10]:
final['mainroad'] = final['mainroad'].map({'yes': 1, 'no': 0})
final['guestroom'] = final['guestroom'].map({'yes': 1, 'no': 0})
final['basement'] = final['basement'].map({'yes':1,'no':0})
final['hotwaterheating'] = final['hotwaterheating'].map({'yes':1,'no':0})
final['airconditioning'] = final['airconditioning'].map({'yes':1,'no':0})
final['prefarea'] = final['prefarea'].map({'yes':1,'no':0})

In [11]:
final

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnished,semi-furnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,0,0
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,0,1
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,0,0
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,1,0
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,0,0

In [12]:
x = final.drop('price',axis = 1)
y = final['price']

In [13]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [14]:
model.fit(x,y)

LinearRegression()

In [15]:
model.predict(x)

array([ 8133305.30653281, 10561027.48030155,  7626587.75745807,
        8329202.46005383,  6693878.16029699,  8427783.28297401,
        9808678.48477315,  8446506.08258852,  7511436.7428248 ,
        7673837.34627012,  8341234.19298997,  8266680.66046276,
        7146604.31629522,  6064375.94370505,  6194925.57629061,
        5135371.44085756,  7444554.28320387,  8081492.48651766,
        6528178.73397584,  7000078.63589521,  5465876.85713338,
        6639979.38102012,  6004943.30926232,  6591412.96131896,
        7253038.29668111,  8118247.40752689,  8172761.76180925,
        4644422.60786683,  7204456.29077803,  7240364.86484603,
        7420015.22943194,  6681270.67984403,  6785236.16120136,
        6644683.51191081,  6389957.77510189,  7715283.40711002,
        7747036.1210344 ,  8318349.73983821,  6372767.38703118,
        7262479.85970082,  6163493.07159848,  7656363.79707479,
        7177096.54009154,  6674628.64972551,  7308824.47968079,
        6419737.19531494,  7194036.91949611,  7558610.44652047,
        4951218.16377757,  7171778.46946347,  6920948.73811581,
        5874479.72659124,  7609350.33931689,  7217280.92252731,
        6546522.15343417,  4893438.42033484,  6837926.40069676,
        8993312.29799517,  7973159.88827347,  7494562.77913221,
        5681563.8421167 ,  5395814.05593098,  6465721.92666793,
        7874517.55708475,  7118896.83158847,  7345569.25037684,
        6837436.56282065,  5257444.2714485 ,  4853824.80363297,
        7957629.9262454 ,  6482261.12391157,  6620482.99218146,
        5930314.52602745,  7085318.28241402,  5166755.34761509,
        5649363.0546073 ,  7220164.15739206,  7239695.3082938 ,
        6359866.65272887,  6766607.67493101,  5900360.82045462,
        6107824.42539071,  7941770.85314106,  6870585.19817398,
        4979051.89668504,  7015395.43440636,  5367445.10333549,
        4071691.52981947,  6366110.61709641,  7551612.54803923,
        4737081.69889812,  5636467.13681207,  6924488.41426395,
        6992436.66128561,  6397521.54838335,  6510086.56408293,
        5722935.35512993,  6207312.50179697,  6852874.86076381,
        5619185.1343542 ,  6301285.75918189,  5008802.21860354,
        7326148.46601637,  6852056.46012613,  6433748.57144308,
        5151818.24530313,  6500202.79133125,  5306410.25676756,
        4285180.73212824,  6801944.27025555,  5668289.16907601,
        6200492.14877264,  5079601.22501045,  6151408.87596058,
        4997130.30626264,  6875042.62117394,  5810095.12338205,
        4881358.53654559,  5680906.94852412,  6335260.16299152,
        5699985.42587968,  6583933.23330568,  6108639.64791843,
        5587327.0511818 ,  6457251.78597131,  7428325.39320401,
        5139591.5995749 ,  6176917.12227362,  5933976.97585127,
        7105869.82830256,  3658190.50506232,  5391280.22495253,
        5236757.57901151,  4774212.05832561,  5465419.06394861,
        6505695.43199678,  6126517.55738465,  4176127.87004966,
        5187929.70175716,  6520998.64766823,  6456867.55474243,
        6959134.1012399 ,  6594452.78088817,  5910778.43547112,
        5752711.92829566,  4820164.0132787 ,  4926361.55037375,
        5258968.28934472,  5306544.75563229,  5916004.7742263 ,
        5707571.45288916,  5911143.62986708,  6412833.75739142,
        5782529.54962688,  5084417.52608413,  6279706.34357003,
        5187316.78227322,  4994434.6711889 ,  4703024.95849576,
        5519221.32247459,  6395844.40180577,  6408552.68615521,
        6667378.63672144,  6033964.63962031,  6902898.13034878,
        5904135.74509379,  6160799.11810629,  5615672.69131605,
        5067657.63735783,  5794239.43250173,  4881120.08927968,
        5636296.71219267,  7058656.61236448,  5748585.21307713,
        4793550.02285478,  7001188.1714762 ,  5746163.15837995,
        4679272.44430613,  5786696.77141782,  4969672.01453641,
        5749668.18846879,  6034858.32233591,  3927627.48600043,
        5077461.65701662,  5068490.1060754 ,  3369061.7529961 ,
        6020157.71324091,  5556437.72493719,  5084728.53051492,
        3179404.49562684,  6087190.48605365,  5914350.65310192,
        5160419.58637166,  3908292.71105485,  5828615.32253593,
        6722526.03125753,  5583113.68541685,  5393584.57313901,
        4968525.83708375,  4000263.59988538,  4970001.69762384,
        4745495.72936885,  3718859.17009611,  4084566.70227404,
        4015756.08965137,  5157829.10087669,  5017390.40864407,
        4598909.83049077,  3827368.43630803,  3476305.36293184,
        4990545.01129703,  5950535.35893277,  6358118.24287993,
        4872617.25939712,  3133014.36141926,  3753004.53979422,
        4880938.34899157,  6443771.85866343,  4777824.14925715,
        4345619.29808312,  7414718.46906379,  4588838.82474199,
        6092851.92588301,  5733148.4536214 ,  6291604.75628854,
        5354328.15611221,  5680281.4002824 ,  5089144.14758445,
        4091866.63107267,  7041717.43589606,  4506535.38176769,
        3906804.40191984,  3962179.98192573,  4366899.60916587,
        5490676.48906279,  5480729.44254118,  4539495.49827241,
        4224671.68557953,  5205057.65991436,  3951435.72263103,
        4517572.60071059,  3672756.74842896,  4451396.7535485 ,
        3670433.41533098,  5252424.55482289,  4800881.80300862,
        3711492.89290243,  6185112.40465666,  4725063.24795064,
        6320658.84480388,  3959203.70489478,  4120921.34433775,
        4607792.80200235,  4093897.95555676,  5286455.16249396,
        4299726.82786987,  4228542.82397319,  4261073.01008479,
        3914856.67810193,  5177034.32664228,  4611805.22825276,
        3508355.70203574,  3651946.3554695 ,  3198898.9522226 ,
        4083028.79290496,  4006091.68854755,  4232846.89473914,
        4129699.33802107,  4839662.28976922,  3238680.29650453,
        6367468.67130901,  3274921.42284949,  4400293.41887682,
        4221260.69102199,  4340913.05785938,  3466612.422742  ,
        3437111.29411605,  5543725.83615872,  5037365.27622933,
        3684862.00984649,  3724475.62654837,  4649935.26538282,
        3911858.34154988,  3877006.36053138,  4306205.64583183,
        4575479.23456515,  3928990.24688136,  4494261.6258568 ,
        4732064.41230795,  4718853.26932451,  4957481.44042229,
        4222545.5131588 ,  4003260.4290555 ,  2653390.33307596,
        4309167.080054  ,  2797777.94057811,  5904201.15301761,
        4512979.06749605,  5026248.24182038,  4787220.08127157,
        4098119.01568341,  4162340.89576147,  4189714.57766181,
        3695657.21570186,  5396156.59826745,  3770814.44020159,
        4110168.18711933,  4201729.35489496,  4266428.41855572,
        4762025.9649348 ,  4011859.58433545,  4192489.57946332,
        4992433.87923777,  4537527.50498797,  3800069.11791725,
        4317929.76761746,  5035356.15327146,  5047162.81628363,
        3260143.38978226,  5718759.59621881,  4958211.22744316,
        5934981.88375574,  5571485.77392489,  4350252.4432568 ,
        4543846.3211728 ,  4475894.6042243 ,  2880282.04649507,
        4954242.50319688,  5531514.42845883,  3664563.045838  ,
        4462690.20789588,  6488997.19276051,  4759613.40467347,
        3383844.61503715,  4067908.34073141,  4833050.82930909,
        5592397.20844041,  4463474.04220843,  4110118.5399167 ,
        4576589.99201673,  5162608.43111756,  4754143.35562885,
        5308814.27813491,  3081879.58916692,  3025727.53032442,
        4145018.02355864,  4019955.86006366,  3104403.63405506,
        3771332.38263078,  3828178.29805174,  4504149.8438258 ,
        2964692.68375648,  3698447.95164961,  4497424.96611603,
        4460013.45918303,  4815287.21276911,  5150297.2824732 ,
        4360279.09586635,  3586939.75726688,  2991697.57910612,
        3072114.01371605,  3670297.55871881,  3120900.02755874,
        3816233.59897318,  4197422.80219735,  3462695.1683392 ,
        3368468.38946076,  3472085.4104849 ,  3041464.44302526,
        3011037.30373645,  4549879.98042306,  3873110.9693482 ,
        3356624.01997662,  4180359.9861499 ,  4282936.54427692,
        4392240.1959966 ,  5201604.43149457,  4550380.16347878,
        6029640.81942668,  3900817.32940955,  3184418.13140106,
        3713892.2381282 ,  3816917.04709403,  5803175.08871592,
        2809490.16265543,  2609568.49303015,  3329839.52701622,
        4551535.76533159,  3177645.44993659,  3889255.19325663,
        3374169.7982953 ,  3742740.53707909,  3625542.60744618,
        3226906.90214155,  3128979.47400322,  3786908.26251919,
        3251565.36054951,  3849664.99350365,  3325358.67655472,
        4157322.48361772,  3506969.55279254,  6088725.96351584,
        3156440.71827888,  4995828.90308724,  3061547.09405068,
        2582755.20917721,  3948373.56317187,  4323841.86247681,
        2697458.67208799,  3052699.27496082,  2775625.3243319 ,
        4323841.86247681,  3925391.19221313,  4751927.3045598 ,
        2707224.24753886,  5658676.21594408,  3582290.67664367,
        3020802.87918732,  4674984.61618229,  4006720.7864479 ,
        3177603.40129963,  2880563.2117918 ,  3072785.36652376,
        2751211.38570472,  3337092.86907488,  3814040.56525415,
        2484826.82755095,  4223100.76375393,  2984331.34888101,
        3567089.81967699,  2774935.31527222,  4392752.71402717,
        4377040.5179219 ,  3471653.59324883,  3691990.56914905,
        2707224.24753886,  4223100.76375393,  3548335.37980572,
        2763145.54267546,  2259096.32632336,  3640098.5203947 ,
        3353425.80805225,  3518236.65241398,  2746205.34849618,
        3038213.37264412,  2859628.83561101,  4188176.10435502,
        2869113.06053986,  3639755.88264532,  2618200.99280363,
        3843814.24299559,  3733731.75051251,  5402895.13535199,
        2747272.00481114,  4250122.23958505,  3527341.51888509,
        3437568.50150552,  3011792.56859278,  3226473.32719094,
        2575388.97895211,  3975537.25714434,  4146897.69836249,
        3107601.84597943,  3125924.59435295,  4767820.3809993 ,
        2648630.79483363,  2984544.571076  ,  3996652.27042668,
        2777926.05325859,  3255176.69000821,  2653667.62317547,
        3202059.38856376,  4483761.29259951,  3686223.18648859,
        3319653.3719006 ,  3269057.05485247,  4341966.10521276,
        2931832.48290887,  3021272.99323956,  2873601.81525838,
        3356866.03306415,  2370039.26736627,  2634303.16807511,
        4266408.49640954,  2041812.2725415 ,  2607127.09916744,
        3550627.21080869,  3719676.93609684,  4121697.06170152,
        3312920.94353523,  4059824.67834042,  2632498.00553212,
        3560720.06914315,  3213715.04297896,  3381048.9536489 ,
        3540201.33647386,  2697458.67208799,  2681345.47259405,
        3024917.66858071,  5027352.14769371,  2519278.96874656,
        2007674.80710041,  3212503.05874603,  3177135.99844986,
        3363443.38359397,  4128052.54644917,  2010074.15232617,
        2599802.91757928,  2795114.42659669,  5076767.41935983,
        2117537.5309227 ,  2190779.34680422,  3315401.67483244,
        3360749.9896404 ,  2962572.02631155,  3420331.02411317,
        2668273.11077411,  2730426.38715839,  2875914.83858821,
        3353383.7594153 ,  3600774.40129348,  2187075.20737319,
        3302016.05722444,  4480643.21321193,  2517772.08379197,
        2609568.49303015,  2497264.37534515,  2462865.12178366,
        2154074.34158955,  3605876.95767971,  2745935.04708701,
        4224856.95688083,  2032046.69709063,  2872471.21709689,
        3133742.40904462,  2818316.56621622,  2929795.92273784,
        2701573.64670666,  2611765.7475066 ,  2306712.40457007,
        3357640.39263671,  2365240.39168945,  2604685.70530472,
        2536096.09866802,  3226473.32719094])

In [16]:
model.score(x,y)

0.681801848554014